html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.hr {
  padding: 0;
  height: 2px;
  width: 30%;
  border: none;
  background-color: black;
}

h1,
h2,
h3,
p,
button {
  font-family: "IM Fell English SC";
  color: white;
  font-weight: bold;
  padding: 10px 0 10px 0;
  margin: 2px;
}

#welcome,
#winner {
  position: absolute;
  background-color: #e4e4e4c9;
  box-shadow: inset 0 -126px 136px 255px #666666b3;
  height: 800%;
  width: 203%;
  left: -52%;
  top: -24px;
  z-index: 2;
  font-size: 25px;
  font-family: "IM Fell English SC";
  color: black;
  font-weight: bold;
}

#winner h1,
#welcome h1,
#winner p,
#welcome p,
#welcome h2,
a {
  padding: 4% 0 0 1%;
  color: black;
  font-weight: bold;
}

#winner h2 {
  padding-top: 19%;
}

h1.about{
  padding: 40px 0 10px 0;
  font-size: 40px;
}

hr.about{margin-bottom: 40px;
  height: 2px; 
  width: 60%;
  background-color: white;}

p.about{
  padding: 19px 60px 2px 60px;
  font-size: 20px;
}

header h1{
  display:inline;
  margin: 0 50px 0 50px;
}

.start {
  outline: none;
  margin: 32px 0 70px 0;
  border-radius: 100%;
  background-color: red;
  height: 200px;
  width: 200px;
  border: solid;
  color: black;
  border-width: 10px;
  box-shadow: inset 0px 0px 57px 29px black;
  font-size: 31px;
  font-weight: bold;
}
.home, .rematch{
  outline: none;
  box-shadow: inset 0px 0px 16px 2px black;
  width: 150px;
  height: 60px;
  border-radius: 25%;
  background-color: black;
  color: white;
}

.playerWon {
  display: none;
  position: absolute;
  z-index: -1;
  width: 32%;
  top: 1%;
  left: 34%;
}
.bankWon {
  display: none;
  position: absolute;
  z-index: -1;
  width: 16%;
  top: 200px;
  left: 27%;
}

header {
  display: none;
  margin-top: 25px;
  background-color: #0e0000b5;
  text-align: center;
  height: 60px;
  width: 100%;
  color: #ffffffc4;
}

body {
  width: 100%;
  background-color: #250202;
  box-shadow: inset 0px 30px 100px 14px black;
  text-align: center;
  align-items: center;
}

img {
  position: absolute;
  left: 0;
  width: 90px;
  margin: 5px;
}

/* ENVERIOMENT SET UP */
.background {
  right: -16.5%;
  position: relative;
  border: none;
  width: 67%;
  height: 100%;
  background-image: url(img/r-carpet.png);
  box-shadow: inset 0px -20px 200px 32px black;
}

.table {
  position: relative;
  width: 74%;
  height: 80%;
  border-radius: 0 0 100% 100%;
  border-color: #230606;
  border-style: solid;
  border-width: 0px 30px 40px 30px;
  padding: 4px 0;
  background-color: #08482d;
  box-shadow: inset 0 -50px 150px -4px black;
  margin: 0 auto;
}

.deck {
  width: 120px;
  position: absolute;
  left: 6%;
  top: 1%;
}

#dealer {
  position: relative;
  left: 37%;
  margin: -20px 0 2px 0px;
  padding: 2px;
  height: 28%;
}

#player {
  position: relative;
  left: 37%;
  margin: 47px 0 2px 0px;
  padding: 2px;
  height: 28%;
}

#dealerScore p,
#playerScore p {
  color: white;
  padding-top: 0;
  font-weight: bold;
}

/* CARDS */

.deckCard {
  position: absolute;
  left: 10.8%;
  top: 3%;
  z-index: 3;
  transform: rotate(345deg);
}

/* flipCard */
.flipCard {
  margin-left: 20px;
  position: absolute;

  background-color: transparent;
  width: 14%;
  height: 14%;
  perspective: 1000px;
}

.flipCardInner {
  position: relative;
  width: 100%;
  text-align: center;
  transition: 1.5s;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY(180deg);
}

.flipCardFace,
.flipCardBack {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flipCardFace img {
  background: transparent;
  width: 90px;
}

.flipCardBack img {
  width: 90px;
}

.flipCardBack {
  transform: rotateY(180deg);
}

/* score & bottons */
.dScore {
  position: fixed;
  right: 22px;
  top: 58px;
}

.pScore {
  padding: 29px 29px 29px 12px;
  width: 68px;
  height: 77px;
  border-radius: 0 100% 100% 0;
  background-color: #230606d4;
  display: inline;
  position: absolute;
  bottom: 15px;
  left: -18%;
}

.action {
  position: absolute;
  right: -18%;
  bottom: 0;
}

.hit {
  outline: none;
  border-radius: 100% 0 0 0;
  height: 83px;
  width: 95px;
  padding: 39px 39px 40px 39px;
  background-color: #149d6280;
}

.stand {
  outline: none;
  border-radius: 0 0 0 100%;
  height: 83px;
  width: 94px;
  padding: 20px 45px 57px 29px;
  background-color: #ad11188f;
}

@media only screen and (max-width: 876px) {
  .background {
    width: 100%;
    margin: 0;
    padding: 0 auto;
    right: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .table {
    height: 80%;
  }

  .bankwon {
    top: 2.5%;
  }
}
@media only screen and (max-width: 560px) {
  #welcome {
    left: -52%;
    top: -30px;
  }
  #welcome h1,
  #winner h1 {
    margin-top: 50px;
  }

  #winner h2 {
    padding-top: 26%;
  }
  hr.about{
    margin-bottom: 10px;
  }
  p.about{
    font-size: 16px;
  }
  header h1{
    
    margin: 0 20px 0 20px;
  }

  .playerWon {
    width: 40%;
    top: 2%;
    left: 29%;
  }
  .bankwon {
    top: 3.5%;
  }
  h1 {
    margin-top: -10px;
  }
  .background {
    background: none;
  }

  .table {
    margin: 0;
    padding: 10px 0 0 0;
    border-radius: 0;
    border-width: 0;
    height: 100%;
    width: 100%;
  }
  .flipCardFace img,
  .flipCardBack img,
  img {
    width: 80px;
  }

  .deck {
    width: 95px;
  }

  .pScore {
    bottom: 120px;
    left: 0;
  }

  .action {
    bottom: 105px;
    right: 0;
  }
}

@media only screen and (max-width: 375px) {
  header h1{
    
    margin: 0 15px 0 15px;
  }

  p.about{
    padding-top: 10px;
    font-size: 13px;
  }
  h1.about{
  font-size: 30px;
  margin-bottom: 4px;
  }
  hr.about{
  margin-bottom: 7px;]}

  .bankWon {
    top: 4%;
  }
h2.won{
  margin-top:4%;
}
  .hit {
    height: 63px;
    width: 69px;
    padding: 30px 13px 15px 27px;
    font-size: 11px;
  }

  .stand {
    height: 63px;
    width: 69px;
    padding: 8px 39px 28px 18px;
    font-size: 11px;
  }

  .pScore {
    padding: 28px 43px 29px 19px;
    width: 30px;
    height: 47px;

    font-size: 14px;
  }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  html {
    background-color: #052f1d;
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .table {
    padding: 10px 0 0 0;
    border-radius: 0;
    border-width: 0;
    height: 100%;
    width: 100%;
  }

  #welcome h1,
  #winner h1 {
    margin-top: 50px;
  }

  #winner h2 {
    padding-top: 21%;
  }
  .playerWon {
    width: 40%;
    top: 2%;
    left: 29%;
  }
  .bankwon {
    top: 4%;
  }

  .action {
    right: 0px;
    bottom: 105px;
  }

  .hit {
    height: 63px;
    width: 69px;
    padding: 30px 13px 15px 27px;
    font-size: 11px;
  }

  .stand {
    height: 63px;
    width: 69px;
    padding: 8px 39px 28px 18px;
    font-size: 11px;
  }

  .pScore {
    padding: 28px 43px 29px 19px;
    width: 30px;
    height: 47px;
    bottom: 120px;
    left: 0;
    font-size: 14px;
  }
}
